<h1>Edit: <%= @entity.path %></h1>

<%= form_for [@project, @entity] do |f| %>
  <div><%= f.text_area :content %></div>
  <div><%= f.submit 'Edit' %></div>
<% end %>

<ul>
  <li><%= link_to 'Back', project_path(@project) %></li>
</ul>
